h1 {
        font-size: 80px;
	font-family: 'Creepster', cursive;
	text-align: center
   }
#container {
	position: relative;
	width: 500px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.story_box {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto
}
